@{
    ViewBag.Title = "Registration";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="logintable">
    <table>
        <tr>
            <td>Login</td>
            <td><input id="login" type="text" name="login-box" class="normalfield" /></td>
        </tr>
        <tr>
            <td>Password</td>
            <td></td>
        </tr>
        <tr>
            <td>Repeat Password</td>
            <td></td>
        </tr>
    </table>
</div>